@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    @apply bg-white dark:bg-gray-800;
  }
  /* h1 {
    @apply text-2xl font-bold mb-3 pb-10 font-serif;
  } */

 

  /* ... */
}



body {
  /* font-family:'Sofia Sans Condensed',
  sans-serif; */
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

h1{
  font-size: 45px;
}
h2{
  font-size: 40px;
}
h3{
  font-size: 35px;
}
h4{
  font-size: 30px;
}
h5{
  font-size: 25px;

}
h6{
  font-size: 12px;

}
p{
  font-size: 20px;
}
